<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/app/home">
      <ion-icon [icon]="icons.home" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'app.navigation.home' | transloco }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="accounting" href="/app/accounting">
      <ion-icon [icon]="icons.accounting" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'app.navigation.accounting' | transloco }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="workers" href="/app/workers">
      <ion-icon [icon]="icons.workers" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'app.navigation.workers' | transloco }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pos" href="/app/pos">
      <ion-icon [icon]="icons.pos" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'app.navigation.pos' | transloco }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
